html,
body,
p,
h3{
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.meta {
    background: #005689;
    color: white;
}

.options {
    border-style: solid;
    border-color: orangered;
    border-width: 2px;
    border-radius: 2px;
}

.option {
    background: #EEEEEE;
    color: #005689;
}

.option:hover {
    background: #005689;
    color: white;
}

.channelName {
}
